.movies {
  background: #1a212d;
  min-height: 100vh;
}

.movies-container {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
}

.movies-heading {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: #f2f2f2;
  margin-bottom: 2rem;
}

.movies-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.movies-card {
  background: #222a3a;
  border: 1px solid #333b4d;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

@media (min-width: 768px) {
  .movies-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.movies-card:hover {
  border-color: hsl(0 72% 51%);
}

.movies-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.movies-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #f2f2f2;
  margin-bottom: 8px;
}

.movies-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.movies-book-button {
  width: 100%;
  background: #dc2828;
  color: #ffffff;
  padding: 8px 0;
  border-radius: 4px;
  font-weight: 500;
  border: none;
}

.movies-book-button:hover {
  background: #dc2828e6;
}

.search-movies {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  background: #222a3a;
  outline: none;
  border: 1px solid #333b4d;
  color: #f2f2f2;
  padding: 8px 16px;
  font-size: 16px;
  width: 50%;
  margin-bottom: 2rem;
  border-radius: 6px;
}

.search-input:focus {
  border: 1px solid #dc2828;
}
